/**
*  Strict 
* author: KAWSER AHAMED
* version: 0.0.1
* Date: 15-02-2021
**/

/* ============================
        DEFULTE CSS
 ============================ */
 @font-face{
       font-family: lato;
       src: url('font/Lato-Regular.ttf');
       src: url('font/Lato-Bold.ttf');
 }
*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
body{
      font-family: 'Lato', sans-serif;
      
}
a{
      text-decoration: none;
}
li{
      list-style: none;
}
p{
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
}
img{
      width: 100%;
}
.container{
      width: 75%;
      margin: 0 auto;
}

 /* ============================
        START HEAEDR SECTION
 ============================ */
header{
      padding: 30px 0;
      background: #f5f9f9;
}
.header-wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
}

nav ul{
       display: flex;
}
nav ul li{
      margin: 0 15px ;
}
nav ul li:last-child{
      margin-right: 0;
}
nav ul li a{
      font-size: 16px;
      color: #2d3950;
      font-weight: 700;
      text-transform: uppercase;
      padding: 10px 20px;
}
nav ul li a:hover{
    background: #15a3f9;
    transition: .3s;
    color: #fff;
}

  /* ============================
       START BENNAR SECTION
 ============================ */
.banner-section{
      background-image: url("../img/banner.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;   
}
.banner-contant{
     text-align: center; 
}
.banner-contant h1{
    font-size: 120px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 30px;
}
.line::after{
      content: "";
      width: 40%;
      height: 3px;
      background: #15a3f9;
      display: block;
      text-align: center;
      margin: 0 auto;
}
.banner-contant p{
      font-size: 20px;
      font-weight: 400;
      color: #fff;
      margin: 30px 0 60px 0;
}
button {
      background: transparent;
     outline:none;
     border: 2px solid #15a3f9;
     border-radius:3px;
}
button a{
      font-size: 16px;
      color: #fff;
      padding: 14px 20px;
      display: block;
      text-transform: uppercase;
}
button:hover{
      background: #15a3f9;
      color: #fff;
      transition: .5s;
}

.arrow{
      font-size: 30px;
      color: #fff;
      position: relative;
      animation: move 5s infinite;
      animation-duration: 3s;
      margin-top: 20px;
}
@keyframes move {
      0%{
            top: 0px;
      }
      100%{
           top: 160px;
      }
    }
 /* ============================
       START SERVICES SECTION
 ============================ */

.service-section{
      padding: 75px 100px 100px 100px;
      background: #f6f9f9;
}
.servise-contant{
      text-align: center;
}
.servise-contant h2{
      font-size: 40px;
      color: #2d3950;
      font-weight: 400;
      padding-bottom: 25px;
}
.servise-contant p{
      font-size: 18px;
      color: #999999;
      line-height: 30px;
}

.service-items-section{
      padding: 60px 0px;
}
.item-wrepper{
      display: flex;
      justify-content: space-around;
}
.service-item{
      text-align: center;
      flex-basis: 25%;
}
.item-icon{
      width: 100px;
      height: 100px;
      background: rgb(72,186,255);
      background: linear-gradient(90deg, rgba(72,186,255,1) 50%, rgba(95,195,255,1) 50%);
      text-align: center;
      line-height: 100px;
      font-size: 50px;
      color: #fff;
      margin: 0 auto;
}
.service-item h3{
      font-size: 22px;
      font-weight: 400;
      color: #2d3950;
      padding: 30px 0 20px 0;
}
.service-item p{
      font-size: 15px;
      font-weight: 400;
      color: #999999;
}
 /* ============================
       START WORK SECTION
 ============================ */
.work-section{
      padding: 70px 0;
      background: #f6f9f9;
}
.work-heading h2{
      font-size: 40px;
      text-align: center;
      font-weight: 400;
      margin-bottom: 10px;
}
.work-heading p{
      font-size: 15px;
      text-align: center;
      padding-bottom: 70px;
}
.gallery {
	display: flex;
	flex-wrap: wrap;
}

/* .gallery-item {
	flex: 1 0 10rem;
	margin: 1rem;
	overflow: hidden;
} */
.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}
.img-gallery-item {
      position: relative;
      width: 100%;
      max-width: 350px;
      margin: 10px;
      box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
          
}
.imagess {
      display: block;
      width: 100%;
      height: auto;
} 
.img-overlays {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      transition: .3s ease;
      background-color: #15a1f96e;
} 
.img-gallery-item:hover .img-overlays {
      opacity: 1;
      cursor: pointer;   
} 
.icons {
      color: white;
      font-size: 25px;
      position: absolute;
      top: 50%;
      left: 60%;
      border: 2px solid rgb(255, 255, 255);
      padding: 5px;
      border-radius:3px;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
 }
 .icon-2{
      top: 50%;
      left: 45%;
 }
    
.fa-userss:hover {
      color: #eee;
      transform: scale(1.15);
}

 /* ============================
       START CONTACT SECTION
 ============================ */
 .contacts-section{
      padding: 100px 0 100px 0;
      background:linear-gradient(0deg, rgba(45, 57, 77, .7), rgba(45, 57, 77, .7)), url(../img/footer.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
}
.contact-heading h2{
      font-size: 40px;
      text-align: center;
      font-weight: 400;
      margin-bottom: 10px;
      color: #fff;
}
.contact-heading p{
      font-size: 15px;
      text-align: center;
      padding-bottom: 40px;
      color: #fff;
}
.contact-form{
      text-align: center;
      width: 40%;
      margin: 0 auto;    
      
}
.contact-form input{
      outline: none;
      border: 2px solid #646973;    
      background: transparent;
      border-radius:5px;
     
}
.contact-form input:focus{
      outline: none;
      border: 2px solid #15a3f9;    
      background: transparent;   
}
.form{
    font-size: 15px;    
}
.form{
      display: flex;
      flex-direction: column;   
}
.form input{
      padding: 20px;
      margin-bottom: 15px;  
}
.form textarea{
      padding: 20px;
      margin-bottom: 15px;  
      background: transparent;
      outline: none;
      font-size: 15px;
      border: 2px solid #646973;    
      border-radius:5px;

}
.contact-form textarea:focus{
      outline: none;
      border: 2px solid #15a3f9;    
      background: transparent;   
}
.contact-form input{
      color: #fff !important;
}
.check1btn{
      display: flex;
      justify-content: space-between;
      align-items: center;
}
.check1btn input{
      padding: 10px 40px;
      font-size: 15px;
      color: #fff;
}
.chekboxs input{
      margin-right: 10px;
}
.chekboxs label{
      font-size: 15px;
      color: #fff;
}

 /* ============================
       START FOOTER SECTION
 ============================ */
footer{
      padding: 20px 0;
}
 .footer-wrapper{
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 10px;
 }
 .footer-content p{
       color: #999999;
       font-size: 15px;
 }
 .footer-icons{
       display: flex;
 }
 .footer-icons li{
     margin-right:10px;
 }
 .footer-icons li a{
     padding: 10px;
     border-radius:4px;
     background: #15a4fa;
     color: #fff;
 }
 .footer-icons li:last-child{
     margin-right:0px
 }
 .footer-icons li a:hover{
      background: #000000;
      color: #fff;
      transition:.3s;
  }
